.panda-bg-info{
    background-color: #FCEAE8;
}
.catregores img{
    width: 100px;
}
.panda-buy-btn{
    background-image: linear-gradient(rgb(255, 88, 155) 0%, rgb(255, 19, 111) 100%);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-style: none;
    border-radius: 8px;
    padding: 9px 25px;
}
